.tab-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ececec), color-stop(100%, #d1d1d1));
  background-image: -moz-linear-gradient(#ececec 50%, #d1d1d1 100%);
  background-image: -webkit-linear-gradient(#ececec 50%, #d1d1d1 100%);
  background-image: linear-gradient(#ececec 50%, #d1d1d1 100%);
  box-shadow: 0px -2px 7px -6px black;
}
.tabrow {
  padding: 0;
  line-height: 100%;
  position: relative;
  overflow: hidden;
}
.tabrow button {
  border: 1px solid #AAA;
  position: relative;
  z-index: 0;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 0 1px #FFF;
}
.tabrow button.selected {
  background: #fff;
  color: #000;
  z-index: 2;
  border-bottom-color: #FFF;
}

.tabrow button.selected:before {
  -moz-box-shadow: 2px 2px 0 #FFF;
  -webkit-box-shadow: 2px 2px 0 #FFF;
  box-shadow: 2px 2px 0 #FFF;
}
.tabrow button.selected:after {
  -moz-box-shadow: -2px 2px 0 #FFF;
  -webkit-box-shadow: -2px 2px 0 #FFF;
  box-shadow: -2px 2px 0 #FFF;
}

.tabrow button:before, .tabrow button:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
    border: 1px solid #AAA;
}

.tabrow button:before {
  left: -6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-width: 0 2px 1px 0;
  -moz-box-shadow: 2px 2px 0 #D1D1D1;
  -webkit-box-shadow: 2px 2px 0 #D1D1D1;
  box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow button:after {
  right: -6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 2px 1px;
  -moz-box-shadow: -2px 2px 0 #D1D1D1;
  -webkit-box-shadow: -2px 2px 0 #D1D1D1;
  box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.tabrow:before {
  z-index: 1;
}